.navbar-inner{
	background: #dd390d;
}

.navbar .brand{
	color: #fff;
  text-shadow: none;
}
.navbar .brand:hover{
  background: transparent;
  color: black;
}
.navbar .nav>li>a{
	text-shadow: none;
	color: #fff;
}
