.navbar-inner{
	background: #dd390d;
}

.navbar .brand{
	color: #fff;
  text-shadow: none;
}
.navbar .brand:hover{
  background: transparent;
  color: black;
}
.navbar .nav>li>a{
	text-shadow: none;
	color: #fff;
}

/**/

.btn-railsgirls{
  background: #dd390d;
  color: white;
  text-shadow: none;
}
.btn-railsgirls:hover{
  background: #761D05;
  color: white;
  text-shadow: none;
}

/* Комментарий */

.news-list-item img{
  max-width: 200px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
